<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<property name="logHome" value="C:/logs/kp" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder	by default -->
		<encoder>
			<pattern>
				[%.-1level][%-19.19d{yyMMdd HH:mm:ss.SSS}][%-21.21thread][%-4X{req.method}"%X{req.requestURI}"][%-60.60c][%-20.20M:%4.4line] - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="info_fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logHome}/info/info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logHome}/info/info-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>80</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>
				[%.-1level][%-19.19d{yyMMdd HH:mm:ss.SSS}][%-21.21thread][%-4X{req.method}"%X{req.requestURI}"][%-60.60c][%-20.20M:%4.4line] - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="error_fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logHome}/error/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logHome}/error/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>80</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>
				[%.-1level][%-19.19d{yyMMdd HH:mm:ss.SSS}] - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="batch_trademark_fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logHome}/batch/trademarkBatch.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logHome}/batch/trademarkBatch-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>80</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>
				[%.-1level][%-19.19d{yyMMdd HH:mm:ss.SSS}] - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="batch_patent_fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logHome}/batch/patentBatch.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logHome}/batch/patentBatch-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>80</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>
				[%.-1level][%-19.19d{yyMMdd HH:mm:ss.SSS}] - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="error" />
	<logger name="org.springframework.core" level="error" />
	<logger name="org.springframework.beans" level="error" />
	<logger name="org.springframework.context" level="error" />
	<logger name="org.springframework.web" level="error" />
	<logger name="org.springframework.security.web" level="error" />

	<logger name="org.apache.http.wire" level="error"/>
	<logger name="org.apache.http.headers" level="error"/>
	<logger name="org.apache.commons.net" level="error"/>
	<logger name="org.apache.commons.digester.Digester" level="error"/>
	<logger name="org.apache.commons.beanutils" level="error"/>
	<logger name="org.apache.tiles" level="error"/>

	<logger name="kpErrorLogger" level="error" additivity="false">
		<appender-ref ref="error_fileAppender" />
	</logger>
	<logger name="trademarkBatchLogger" level="info" additivity="false">
		<appender-ref ref="batch_trademark_fileAppender" />
	</logger>
	<logger name="patentBatchLogger" level="info" additivity="false">
		<appender-ref ref="batch_patent_fileAppender" />
	</logger>
	<root level="debug">
		<appender-ref ref="console" />
	 	<appender-ref ref="info_fileAppender" />
	</root>
</configuration>